body {
    background: #1F2937;
}

/* Header */
.header {
    background: #1F2937;
    display: flex;
    flex: 1 1 0;
    justify-content: space-between;
    padding: 10px 150px 0px 150px;
}

.header-logo {
    color: #F9FAF8;
    font-size: 24px;
    font-weight: bolder;
}

.header-link-container {
    display: flex;
    gap: 32px;
}

.header-link {
    color: #E5E6EB;
    font-size: 18px;
}

/* Section 1 */
.s1 {
    background: #1F2937;
    display: flex;
    justify-content: space-between;
    padding: 100px 150px 100px 150px;
    gap: 50px;
}

.s1-left {
    display: flex;
    flex: 1 1 0;
    flex-direction: column;
}

.s1-left-header {
    color: #F9FAF8;
    font-size: 48px;
    font-weight: 800;
    padding: 0px;
    margin: 0px;
}

.s1-left-body {
    color: #E5E6EB;
    font-size: 18px;
}

.s1-left-signup {
    border: none;
    border-radius: 5px;
    background: #3882F6;
    padding: 5px 20px 5px 20px;
    color: #F9FAF8;
    font-weight: bold;
    max-width: 100px;
}

.s1-right {
    display: flex;
    flex: 1 1 0;
    background-color: lightslategray;
    justify-content: center;
    align-content: stretch;
}

.s1-right-img {
    display: flex;
    align-items: center;
}